#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
coverage
dist
typings
bundles
src/*.js
src/*.d.ts
src/*.js.map
tests/*.js
tests/*.d.ts
tests/*.js.map
typings
index.js
index.d.ts
index.js.map

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

