#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
*.metadata.json
*.d.ts
*.js
!config/*
!karma.conf.js
!webpack.config.js
!make.js
!bundles/*
coverage
.vscode

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
